
{% extends "base.html" %}
{% block title %}Single File UI{% endblock %}


{% block content %}


  <div class="container-fluid">


            {% for record in lst %}

                   <tr>
                     <td>
                  <div id="{{ record['name']}}_TOP">
                      <div class="card">
                       <div class="card-header" id="headingOne">
                         <h5 class="mb-0">
                           <button class="btn btn-link" data-toggle="collapse" data-target="#{{ record['name']}}" aria-expanded="true" aria-controls="collapseOne">
                             {{ record['description']}}
                           </button>
                           {% if record['latest']['version']['number_of_errors'] > 0 %}
                           <span class="badge badge-danger"> {{ record['latest']['version']['number_of_errors'] }}</span>
                           {% endif %}
                         </h5>
                       </div>

                       <div id="{{ record['name']}}" class="collapse show" aria-labelledby="headingOne" data-parent="#{{ record['name']}}_TOP">
                         <div class="card-body">
                           <div class="card">
                            <div class="card-header" id="headingOne">
                              <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#{{ record['name']}}_DETAILS" aria-expanded="true" aria-controls="collapseOne">
                                  Version Detail
                                </button>
                              </h5>
                            </div>

                            <div id="{{ record['name']}}_DETAILS" class="collapse show" aria-labelledby="headingOne" data-parent="#{{ record['name']}}">
                              <div class="card-body">
                                <table class="table">
                                  <thead class="thead-dark">
                                    <tr>
                                      <th scope="col"> File Details </th>
                                      <th scope="col">Time Processed</th>
                                      <th scope="col">Status</th>
                                      <th scope="col">Validation</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for version in record['versions'] %}
                                    <tr>
                                      <td>  {{ version['version']}}   </td>
                                      <td>  {{ version['processed']}}   </td>
                                      <td><span class="fa fa-download pull-left"></span>
                                        {% if version['number_of_errors'] > 0 %}
                                        <span class="pull-left badge badge-pill badge-danger"> {{ version['number_of_errors']}} Error</span>
                                        {% else %}
                                        <span class="pull-left badge badge-pill badge-success"> All Good</span>
                                        {% endif %}
                                      </td>
                                      <td>
                                        <div class="card">
                                         <div class="card-header" id="headingOne">
                                           <h5 class="mb-0">
                                             <button class="btn btn-link" data-toggle="collapse" data-target="#{{ record['name']}}_{{ version['version_no']}}_VAL" aria-expanded="true" aria-controls="collapseOne">
                                               Validation Details
                                             </button>
                                           </h5>
                                         </div>

                                         <div id="{{ record['name']}}_{{ version['version_no']}}_VAL" class="collapse" aria-labelledby="headingOne" data-parent="#{{ record['name']}}_DETAILS">
                                           <div class="card-body">
                                             <table class="table">
                                               <thead class="thead-dark">
                                                 <tr>
                                                   <th scope="col"> Validation Rule </th>
                                                   <th scope="col"> Message </th>
                                                   <th scope="col">Validation Status</th>

                                                 </tr>
                                               </thead>
                                               <tbody>
                                                 {% for validation in version['validations'] %}
                                                 <tr>
                                                   <td>  {{ validation['rule_name']}}   </td>
                                                   <td>  {{ validation['msg']}}   </td>
                                                   {% if validation['succes']  %}
                                                   <td> <span class="pull-left badge badge-pill badge-success">Success</span> </td>
                                                   {% else %}
                                                   <td> <span class="pull-left badge badge-pill badge-secondary">Show More</span>  </td>

                                                   {% endif %}
                                                 </tr>

                                                {% endfor %}
                                                 </tbody>
                                               </table>
                                           </div>
                                         </div>
                                        </div>
                                      </td>
                                    </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                                </div>
                            </div>
                           </div>


                         </div>
                       </div>
                      </div>
                    </div>
                    </td>
                  </tr>
                  {% endfor %}


  </div>

{% endblock %}
