
{% extends "base.html" %}
{% block title %} Supplier {% endblock %}


{% block content %}


<div class="container-fluid">

  <div id="SupplierTOP">
      <div class="card">
       <div class="card-header" id="headingOne">
         <h5 class="mb-0">
           <button class="btn btn-primary" data-toggle="collapse" data-target="#Supplier" aria-expanded="true" aria-controls="collapseOne">
             Add Supplier
           </button>
         </h5>
       </div>


         <div id="Supplier" class="collapse" aria-labelledby="headingOne" data-parent="#SupplierTOP">
           <form>
             <div class="form-group">
               <label for="type">Name:</label><input type="text" class="form-control" id="SupplierName">
               <label for="type">Code:</label><input type="text" class="form-control" id="SupplierCode">
               <label> Is Active?</label>
                  <select class="form-control" name="option"  id="SupplierIsActive">
                         <option value="Yes" >Yes</option>
                         <option value="No" >No</option>

                  </select class="form-control">
               </div>
             <button type="button" class="btn btn-success" onclick="addSupplier()">Submit</button>
           </form>
         </div>

         <div class="container-fluid">
            <table class="table table-hover table-striped" data-filter-control="select"
                   data-toggle="table"
                   data-search="true"
                   data-pagination="true"
                   data-page-size="50"
                   data-pagination-V-Align="top">
                  <thead>
                    <tr>
                      <th>  Name </th>
                      <th>  Code </th>
                      <th>  Is Active </th>
                      <th> Action </th>
                    </tr>
                  </thead>
                 <tbody>
                   {% for ec in lst %}
                         <tr>
                              <td > {{ ec['name']}} </td>
                              <td > {{ ec['code']}} </td>
                              <td > {{ ec['is_active']}} </td>
                              <td >
                                 <span class="fa fa-remove" onclick="deleteSupplier('{{ ec['supplier_id']}}')"></span>
                                 <span class="fa fa-pencil" onclick="setAndOpenSupplierModal('{{ ec['supplier_id']}}')"></span>
                              </td>

                         </tr>
                  {% endfor %}
                  </tbody>
                </table>
         </div>

       </div>
      </div>
    </div>


    <div id="UpdateSupplierModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Update Supplier</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>

            </div>
            <div class="modal-body">
              <div class="form-group"  >
                   <label for="UpdESupplierHiddenid">ID</label>
                   <input class="form-control" type="hidden" id="UpdESupplierHiddenid"  readonly />
                   <label for="UpdSupplierName">Name</label><input class="form-control" id="UpdSupplierName" type="text" />
                   <label for="UpdSupplierName">Code</label><input class="form-control" id="UpdSupplierCode" type="text" />
                   <label> Is Active</label>
                      <select class="form-control" name="option"  id="UpdSupplierIsActive">
                             <option value="Yes" >Yes</option>
                             <option value="No" >No</option>

                      </select class="form-control">
                 </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-success" onclick="updateSupplier('{{ edi_category_id }} ')">Save changes</button>
          </div>
          </div>

        </div>
      </div>

<script type="text/javascript">

  function redirectHome() {

      window.location = location.href;
  }

  function addSupplier() {

      var data = {
          "name": $('#SupplierName').val(),
          "code": $('#SupplierCode').val(),
          "is_active": $('#SupplierIsActive').val(),
      };



      var formData = JSON.stringify(data);
      $.ajax({
          type: "POST",
          cache: false,
          data: formData,
          contentType: 'application/json',
          url: SupplierURL,
          success: function(result) {
              redirectHome();
          },
          error: function(xhr, status, error) {
              alert(status);
              alert(xhr.responseText);
              redirectHome();
          }
      });
  }


  function setAndOpenSupplierModal(supplier_id) {
      $('#UpdESupplierHiddenid').val(supplier_id);
      var url = SingleSupplierURL.replace("supplier_id", supplier_id);
      $.ajax({
          type: "GET",
          cache: false,
          dataType: 'json',
          contentType: 'application/json',
          url: url,
          success: function(results) {
              var result = results.data[0];

              $('#UpdSupplierName').val(result.name);
              $('#UpdSupplierCode').val(result.code);
              $('#UpdSupplierIsActive').val(result.is_active);
              $('#UpdateSupplierModal').modal('show');
          },
          error: function(xhr, status, error) {
              alert(status);
              alert(xhr.responseText);
              redirectHome();
          }
      });
  }

  function updateSupplier() {
      var supplier_id = $('#UpdESupplierHiddenid').val();
      var url = SingleSupplierURL.replace("supplier_id", supplier_id);
      var data = {
          "name": $('#UpdSupplierName').val(),
          "code": $('#UpdSupplierCode').val(),
          "is_active": $('#UpdSupplierIsActive').val(),
      };

      var formData = JSON.stringify(data);

      $.ajax({
          type: "PUT",
          cache: false,
          data: formData,
          contentType: 'application/json',
          url: url,
          success: function(result) {
              redirectHome();
          },
          error: function(xhr, status, error) {
              alert(status);
              alert(xhr.responseText);
              redirectHome();
          }
      });
  }

  function deleteSupplier(supplier_id) {
      var data = {};

      var url = SingleSupplierURL.replace("supplier_id", supplier_id);

      var formData = JSON.stringify(data);
      $.ajax({
          type: "DELETE",
          cache: false,
          data: formData,
          contentType: 'application/json',
          url: url,
          success: function(result) {
              redirectHome();
          },
          error: function(xhr, status, error) {
              alert(status);
              alert(xhr.responseText);
              redirectHome();
          }
      });
  }


</script>
{% endblock %}
